@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TwilioApp.Models.Contact
<h2> Create new Contact</h2>
<form method="post">
    <label asp-for="ContactName">Name</label>
    <input type="text" asp-for="ContactName" />
    <label asp-for="ContactNumber">Number</label>
    <input type="text" asp-for="ContactNumber" />
    <button type="submit">Submit</button>
</form>